body{
    margin: 0;}

    .background-image{
        background-color: rgb(1, 11, 15);
        background-image: url('45676987_10218024910240479_2239055726595014656_n.jpg'); 
        height:100vh; 
        background-size:contain;
        background-repeat: no-repeat;

}