body{
    margin: 0;}

    .background-image{
        background-color: rgb(1, 11, 15);
        background-image: url('floatingearTH_stealth_samurai_buddha_sword_in_a_leap_guided_neo_33c1e74e-c28a-4820-ba0d-99adfb36302e.jpg'); 
        height:100vh; 
        background-size:cover;
        background-repeat: no-repeat;

}