body{
        background-image:
        url('floatinggear waterdrop.jpg'),
        url('floatingearTH_stealth_samurai_buddha_sword_in_a_leap_guided_neo_33c1e74e-c28a-4820-ba0d-99adfb36302e.jpeg'); 
        background-position: left,
        right;
        background-repeat: no-repeat, no-repeat;
        background-size: 50vw 100vh, 50vw 100vh;/*Seperate size declarations and combine values*/
        height: 100vh;/*Set the height to the viewport height*/
}
p{
font-size: 0.8em;
line-height: 1.2;
font-family: Arial,sans-serif;
text-align: center;
color:rgba(255, 255, 255, 0.5);/*White with 80% opacity*/
}
footer{
    position:fixed;
    bottom:0;
    width:100%
    text-align:center;
    padding: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
footer{
    color: rgba(109, 127, 19, 0.4);/*White with 80% opacity*/
}